.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.App header{
  background-color: lavender;
}
.App nav{
 list-style-type: none;
 margin: 0;
 padding: 0;
 position: sticky;
 top: 0;
 background-color: #333;
 display: flex;
 justify-content: space-evenly;
}
.App nav a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.App a:hover{
  background-color: #111;
}
.App main{
  height: 100vh;
  background-color: bisque;
}
.App footer{
  background-color: azure;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;

}


img{
  width: 5rem;
}
.playersAndPokemonRoot{
  display: flex;
}
li{
  list-style: none;
}
.playersAndPokemonRoot div{
  width: 100%;
}
.listBtnItems{
display: flex;
}





footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;

}

footer {
  padding: 50px 0;
}

footer h4 {
  margin-bottom: 20px;
}

footer a {
  color: white;
  margin-right: 10px;
}

