.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.App header{
  background-color: lavender;
}
.App nav{
  background-color: antiquewhite;
}
.App main{
  height: 100vh;
  background-color: bisque;
}
.App footer{
  background-color: azure;

}
img{
  width: 5rem;
}
.playersAndPokemonRoot{
  display: flex;
}
li{
  list-style: none;
}
.playersAndPokemonRoot div{
  width: 100%;
}
.listBtnItems{
display: flex;
}


