.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.App header{
  background-color: lavender;
}
.App nav{
  background-color: antiquewhite;
}
.App main{
  height: 100vh;
  background-color: bisque;
}
.App footer{
  background-color: azure;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;

}


img{
  width: 5rem;
}
.playersAndPokemonRoot{
  display: flex;
}
li{
  list-style: none;
}
.playersAndPokemonRoot div{
  width: 100%;
}
.listBtnItems{
display: flex;
}





footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

footer {
  padding: 50px 0;
}

footer h4 {
  margin-bottom: 20px;
}

footer a {
  color: white;
  margin-right: 10px;
}
.pokemonField1{
  opacity: 50%;
  background-color: aliceblue;
  margin: 2rem
}
.pokemonField{
  background-color: aliceblue;
  margin: 2rem
}

